// Styling for the services section
.course-description-container {}

.course-logistics-container {
  margin: 20px 0 0 0;
}

.course-main-info-heading {
  margin: 15px 0;
  text-transform: none;
}

.course-contact-list li {
  margin-bottom: 10px;
}

.contact-list-item-details {
  padding-left: 10px;
}